<div class="h-screen w-full bg-white flex items-center justify-center p-4 sm:p-2">

    <div class="w-full lg:w-1/2 flex items-center justify-center p-6 sm:p-12 xl:p-16">
        <div class="w-full max-w-sm mx-auto">

            <h1 class="text-4xl sm:text-5xl font-extrabold text-gray-900 mb-4">
                Olvidaste tu contraseña?
            </h1>

            <div *ngIf="currentStep === RecoveryStep.RequestEmail">
                <p class="text-lg text-gray-500 mb-6">
                    Por favor, escriba su correo electrónico para poder ayudarlo.
                </p>

                <div *ngIf="errorMessage" class="bg-red-50 border-l-4 border-red-500 text-red-700 p-4 mb-6 rounded-lg"
                    role="alert">
                    {{ errorMessage }}
                    <button type="button" class="ml-2 text-red-700" (click)="errorMessage = null">&times;</button>
                </div>
                <div *ngIf="successMessage"
                    class="bg-green-50 border-l-4 border-green-500 text-green-700 p-4 mb-6 rounded-lg" role="alert">
                    {{ successMessage }}
                    <button type="button" class="ml-2 text-green-700" (click)="successMessage = null">&times;</button>
                </div>

                <form [formGroup]="emailForm" (ngSubmit)="nextStep()" novalidate class="space-y-4">
                    <div>
                        <label for="email" class="block text-base font-medium text-gray-700 mb-2">Correo
                            electrónico*</label>
                        <div class="mt-1 relative rounded-lg shadow-sm">
                            <div *ngIf="!emailInput.value"
                                class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                                </svg>
                            </div>
                            <input type="email" id="email" formControlName="email" placeholder="Escribe tu correo"
                                #emailInput
                                class="block w-full pr-4 py-3 border-0 bg-gray-100 text-gray-900 rounded-lg placeholder-gray-400 focus:ring-2 focus:ring-[#4254b0] focus:border-transparent sm:text-base transition duration-150"
                                [ngClass]="{
                                    'pl-12': !emailInput.value, 
                                    'pl-4': emailInput.value,
                                    'ring-2 ring-red-500': emailForm.get('email')?.invalid && emailForm.get('email')?.touched
                                }">
                        </div>
                        <div class="h-6 mt-2 text-sm text-red-500">
                            <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
                                <span *ngIf="emailForm.get('email')?.errors?.['required']">El correo es
                                    requerido.</span>
                                <span *ngIf="emailForm.get('email')?.errors?.['email']">Formato de correo
                                    inválido.</span>
                            </div>
                        </div>
                    </div>

                    <div class="pt-6 space-y-4">
                        <button type="submit"
                            class="w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-md text-base font-semibold text-white bg-[#4254b0] hover:bg-[#3b4991] disabled:opacity-50 transition-all duration-300"
                            [disabled]="emailForm.invalid || isLoading">
                            <span *ngIf="isLoading"
                                class="animate-spin h-5 w-5 mr-3 border-4 border-t-white border-opacity-20 rounded-full"></span>
                            {{ isLoading ? 'Enviando...' : 'Siguiente' }}
                        </button>
                        <button type="button" (click)="goBack()"
                            class="w-full flex justify-center py-3 px-4 border border-gray-300 rounded-lg shadow-sm text-base font-semibold text-gray-700 bg-white hover:bg-gray-50 transition-colors">
                            Retroceder
                        </button>
                    </div>
                </form>
            </div>

            <div *ngIf="currentStep === RecoveryStep.VerifyCode">
                <p class="text-lg text-gray-500 mb-8">
                    Por favor, escriba el código de verificación que le mandamos en su correo electrónico
                </p>

                <div *ngIf="errorMessage" class="bg-red-50 border-l-4 border-red-500 text-red-700 p-4 mb-6 rounded-lg"
                    role="alert">
                    {{ errorMessage }}
                    <button type="button" class="ml-2 text-red-700" (click)="errorMessage = null">&times;</button>
                </div>
                <div *ngIf="successMessage"
                    class="bg-green-50 border-l-4 border-green-500 text-green-700 p-4 mb-6 rounded-lg" role="alert">
                    {{ successMessage }}
                    <button type="button" class="ml-2 text-green-700" (click)="successMessage = null">&times;</button>
                </div>

                <form [formGroup]="verificationForm" (ngSubmit)="nextStep()" novalidate class="space-y-4">
                    <div>
                        <label for="digit-1" class="block text-base font-medium text-gray-700 mb-2">Código de
                            Verificación*</label>

                        <div class="flex justify-center gap-2 mt-1" #codeInputContainer>
                            <input *ngFor="let i of [0, 1, 2, 3, 4, 5]" #digitInput type="text" pattern="\d*"
                                inputmode="numeric" [id]="'digit-' + (i + 1)" [formControlName]="'digit' + (i + 1)"
                                maxlength="1"
                                class="w-12 h-12 text-center text-xl font-semibold border-0 bg-gray-100 text-gray-900 rounded-lg placeholder-gray-400 focus:ring-2 focus:ring-[#4254b0] focus:border-transparent transition duration-150"
                                [ngClass]="{'ring-2 ring-red-500': verificationForm.get('digit' + (i + 1))?.invalid && verificationForm.get('digit' + (i + 1))?.touched}"
                                (keyup)="onKeyUp($event, i)" (keydown)="onKeyDown($event, i)" (paste)="onPaste($event)"
                                autocomplete="off" />
                        </div>

                        <div class="h-6 mt-2 text-sm text-red-500 text-center">
                            <div *ngIf="verificationForm.invalid && verificationForm.touched">
                                <span>Por favor, ingresa los 6 dígitos.</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-start pt-2 h-6">
                        <button type="button"
                            class="font-medium hover:text-[#3b4991] text-sm transition-colors disabled:cursor-not-allowed disabled:text-gray-400 disabled:hover:text-gray-400"
                            [ngClass]="resendTimer === 0 ? 'text-[#4254b0]' : 'text-gray-400'" (click)="startTimer()"
                            [disabled]="resendTimer > 0">
                            {{ resendTimer > 0 ? 'Reenviar el código en 0:' + (resendTimer | number: '2.0') : 'Reenviar el código' }}
                        </button>
                    </div>

                    <div class="pt-6 space-y-4">
                        <button type="submit"
                            class="w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-md text-base font-semibold text-white bg-[#4254b0] hover:bg-[#3b4991] disabled:opacity-50 transition-all duration-300"
                            [disabled]="verificationForm.invalid || isLoading">
                            <span *ngIf="isLoading"
                                class="animate-spin h-5 w-5 mr-3 border-4 border-t-white border-opacity-20 rounded-full"></span>
                            {{ isLoading ? 'Verificando...' : 'Siguiente' }}
                        </button>
                        <button type="button" (click)="prevStep()"
                            class="w-full flex justify-center py-3 px-4 border border-gray-300 rounded-lg shadow-sm text-base font-semibold text-gray-700 bg-white hover:bg-gray-50 transition-colors">
                            Retroceder
                        </button>
                    </div>
                </form>
            </div>

            <div *ngIf="currentStep === RecoveryStep.ResetPassword">
                <p class="text-lg text-gray-500 mb-6">
                    Por favor, escriba su nueva contraseña
                </p>

                <div *ngIf="errorMessage" class="bg-red-50 border-l-4 border-red-500 text-red-700 p-4 mb-6 rounded-lg"
                    role="alert">
                    {{ errorMessage }}
                    <button type="button" class="ml-2 text-red-700" (click)="errorMessage = null">&times;</button>
                </div>
                <div *ngIf="successMessage"
                    class="bg-green-50 border-l-4 border-green-500 text-green-700 p-4 mb-6 rounded-lg" role="alert">
                    {{ successMessage }}
                    <button type="button" class="ml-2 text-green-700" (click)="successMessage = null">&times;</button>
                </div>

                <form [formGroup]="resetForm" (ngSubmit)="nextStep()" novalidate class="space-y-4">
                    <div>
                        <label for="new-pass" class="block text-base font-medium text-gray-700 mb-2">Contraseña*</label>
                        <div class="mt-1 relative rounded-lg shadow-sm">
                            <div *ngIf="!newPassInput.value"
                                class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                                </svg>
                            </div>
                            <input type="password" id="new-pass" formControlName="contrasena"
                                placeholder="Ingresa tu nueva contraseña" #newPassInput
                                class="block w-full pr-4 py-3 border-0 bg-gray-100 text-gray-900 rounded-lg placeholder-gray-400 focus:ring-2 focus:ring-[#4254b0] focus:border-transparent sm:text-base transition duration-150"
                                [ngClass]="{
                                    'pl-12': !newPassInput.value, 
                                    'pl-4': newPassInput.value,
                                    'ring-2 ring-red-500': resetForm.get('contrasena')?.invalid && resetForm.get('contrasena')?.touched
                                }">
                        </div>

                        <div class="h-6 mt-2 text-sm text-red-500">
                            <div *ngIf="resetForm.get('contrasena')?.invalid && resetForm.get('contrasena')?.touched">
                                <span *ngIf="resetForm.get('contrasena')?.errors?.['required']">La contraseña es
                                    requerida.</span>
                                <span *ngIf="resetForm.get('contrasena')?.errors?.['minlength']">Mínimo 8
                                    caracteres.</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="confirm-pass" class="block text-base font-medium text-gray-700 mb-2">Confirmar
                            contraseña*</label>
                        <div class="mt-1 relative rounded-lg shadow-sm">
                            <div *ngIf="!confirmPassInput.value"
                                class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                                </svg>
                            </div>
                            <input type="password" id="confirm-pass" formControlName="confirmarContrasena"
                                placeholder="Repite tu nueva contraseña" #confirmPassInput
                                class="block w-full pr-4 py-3 border-0 bg-gray-100 text-gray-900 rounded-lg placeholder-gray-400 focus:ring-2 focus:ring-[#4254b0] focus:border-transparent sm:text-base transition duration-150"
                                [ngClass]="{
                                    'pl-12': !confirmPassInput.value, 
                                    'pl-4': confirmPassInput.value,
                                    'ring-2 ring-red-500': (resetForm.get('confirmarContrasena')?.invalid || resetForm.hasError('mismatch')) && resetForm.get('confirmarContrasena')?.touched
                                }">
                        </div>

                        <div class="h-6 mt-2 text-sm text-red-500">
                            <div
                                *ngIf="(resetForm.get('confirmarContrasena')?.invalid || resetForm.hasError('mismatch')) && resetForm.get('confirmarContrasena')?.touched">
                                <span *ngIf="resetForm.get('confirmarContrasena')?.errors?.['required']">La confirmación
                                    es requerida.</span>
                                <span
                                    *ngIf="resetForm.hasError('mismatch') && !resetForm.get('confirmarContrasena')?.errors?.['required']">Las
                                    contraseñas no coinciden.</span>
                            </div>
                        </div>
                    </div>

                    <div class="pt-6 space-y-4">
                        <button type="submit"
                            class="w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-md text-base font-semibold text-white bg-[#4254b0] hover:bg-[#3b4991] disabled:opacity-50 transition-all duration-300"
                            [disabled]="resetForm.invalid || isLoading">
                            <span *ngIf="isLoading"
                                class="animate-spin h-5 w-5 mr-3 border-4 border-t-white border-opacity-20 rounded-full"></span>
                            {{ isLoading ? 'Guardando...' : 'Guardar Contraseña' }}
                        </button>
                        <button type="button" (click)="prevStep()"
                            class="w-full flex justify-center py-3 px-4 border border-gray-300 rounded-lg shadow-sm text-base font-semibold text-gray-700 bg-white hover:bg-gray-50 transition-colors">
                            Retroceder
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div
        class="hidden lg:flex w-full lg:w-2/4 p-20 items-center justify-center relative bg-[#3b4991] text-white rounded-3xl">
        <div class="relative w-full h-full flex flex-col justify-center items-center text-center">
            <div
                class="relative w-full max-w-md h-96 rounded-xl shadow-2xl overflow-hidden transition-all duration-500">
                <div
                    class="forgot  absolute inset-0 w-full h-full flex justify-center font-bold  text-[#3b4991] rounded-xl">
                    <img src="/Forgot-pass.jpg" alt="recuperar-Pawword" class="forgot">
                </div>
                
            </div>
            <div class="mt-10 p-4">
                <h2 class="text-3xl font-bold mb-3">Recupera el acceso a tu cuenta</h2>
                <p class="text-lg opacity-80">Sigue los pasos para restablecer tu contraseña de forma segura.</p>
            </div>
        </div>
    </div>
</div>