@if(tipoSeccion == 'encabezadoPagina'){
    <div class="flex p-4 bg-white items-center justify-between w-full rounded-sm  border border-zinc-200">
        <!-- Titulo y label -->
        <div class=" flex gap-1 flex-col">
            <app-ui-tipografia
                variante="h3"
                texto={{titulo}}
                >
                </app-ui-tipografia>
            @if (visualizarDescripcion) {
                <app-ui-tipografia
                    variante="p"
                    texto={{descripcion}}
                >
                </app-ui-tipografia>
            }
        </div>
        @if(visualizarButton){
            <app-ui-boton
                texto = {{buttonLabel}}
                (click)="onButtonClick()"
            ></app-ui-boton>
        }
    </div>
}
@if(tipoSeccion == 'encabezadoTabs'){
    <div class="flex bg-white items-center justify-between w-full">
        <!-- Titulo y label -->
        <div class=" flex gap-1 flex-col">
            <app-ui-tipografia
                variante="h3"
                texto={{titulo}}
                >
                </app-ui-tipografia>
            @if (visualizarDescripcion) {
                <app-ui-tipografia
                    variante="p"
                    texto={{descripcion}}
                >
                </app-ui-tipografia>
            }
        </div>
        @if(visualizarButton){
            <app-ui-boton
                texto = {{buttonLabel}}
                (click)="onButtonClick()"
            ></app-ui-boton>
        }
    </div>
}

