@if (productoId) {
<!-- Backdrop con blur -->
<div class="fixed inset-0 bg-black/60 backdrop-blur-sm transition-opacity duration-300 z-40" (click)="onCerrar()"></div>

<!-- Dialog lateral derecho -->
<div
  class="fixed right-0 top-0 bottom-0 w-full md:w-2/3 lg:w-[550px] h-auto z-50 transform transition-transform duration-300 ease-out flex flex-col bg-white rounded-2xl gap-4 overflow-hidden m-2">
  <!-- Header -->

  <!-- Estados de contenido -->
  @if (mostrarEsqueleto()) {
  <!-- Skeleton Header -->
  <div class="h-auto w-full flex flex-row justify-between items-center animate-pulse p-4 border-b border-zinc-100 ">
    <!-- Titulo y subtitulo -->
    <div class="flex flex-col gap-2">
      <div class="h-5 w-28 bg-gray-200 rounded"></div>
      <div class="h-5 w-40 bg-gray-200 rounded"></div>
    </div>

    <!-- Boton cerrar-->
    <div class="size-6 bg-gray-200 rounded"></div>
  </div>

  <!-- Skeleton Main -->
  <div class="h-full w-full overflow-y-auto flex flex-col gap-5 mb-4 animate-pulse">
    <!-- Datos Skeleton -->
    <section class="flex flex-col gap-3 border-b border-zinc-100 pb-4">
      <div class="h-5 w-32 bg-gray-200 rounded ml-4"></div>

      <!-- Nombre producto skeleton -->
      <div class="grid grid-cols-2 items-start px-4">
        <div class="h-5 w-28 bg-gray-200 rounded"></div>
        <div class="h-5 w-40 bg-gray-200 rounded"></div>
      </div>

      <!-- Estado skeleton -->
      <div class="grid grid-cols-4 items-start px-4">
        <div class="col-span-2 h-5 w-16 bg-gray-200 rounded"></div>
        <div class="col-span-1 h-7 w-20 bg-gray-200 rounded-full"></div>
      </div>

      <!-- Código skeleton -->
      <div class="grid grid-cols-2 items-start px-4">
        <div class="h-5 w-16 bg-gray-200 rounded"></div>
        <div class="h-5 w-32 bg-gray-200 rounded"></div>
      </div>

      <!-- Costo estándar skeleton -->
      <div class="grid grid-cols-2 items-start px-4">
        <div class="h-5 w-24 bg-gray-200 rounded"></div>
        <div class="h-5 w-28 bg-gray-200 rounded"></div>
      </div>
    </section>

    <!-- Precios Skeleton -->
    <section class="flex flex-col gap-3 border-b border-zinc-100 pb-4">
      <div class="h-5 w-20 bg-gray-200 rounded ml-4"></div>

      @for (i of [1,2,3]; track i) {
      <div class="grid grid-cols-2 items-start px-4">
        <div class="h-5 w-16 bg-gray-200 rounded"></div>
        <div class="h-5 w-28 bg-gray-200 rounded"></div>
      </div>
      }
    </section>

    <!-- Costos e Impuestos Skeleton -->
    <section class="flex flex-col gap-3 border-b border-zinc-100 pb-4">
      <div class="h-5 w-32 bg-gray-200 rounded ml-4"></div>

      @for (i of [1,2]; track i) {
      <div class="grid grid-cols-2 items-start px-4">
        <div class="h-5 w-28 bg-gray-200 rounded"></div>
        <div class="h-5 w-28 bg-gray-200 rounded"></div>
      </div>
      }
    </section>

    <!-- Información Adicional Skeleton -->
    <section class="flex flex-col gap-3 border-b border-zinc-100 pb-4">
      <div class="h-5 w-32 bg-gray-200 rounded ml-4"></div>

      <div class="grid grid-cols-4 items-start px-4">
        <div class="col-span-2 h-5 w-28 bg-gray-200 rounded"></div>
        <div class="col-span-1 h-7 w-24 bg-gray-200 rounded-full"></div>
      </div>

      <div class="grid grid-cols-2 items-start px-4">
        <div class="h-5 w-28 bg-gray-200 rounded"></div>
        <div class="h-5 w-24 bg-gray-200 rounded"></div>
      </div>

      <div class="grid grid-cols-2 items-start px-4">
        <div class="h-5 w-20 bg-gray-200 rounded"></div>
        <div class="h-5 w-32 bg-gray-200 rounded"></div>
      </div>
    </section>
  </div>
  }
  @if (errorDeConexion()) {
  <div class=" w-full h-full flex flex-col gap-6 justify-center items-center text-center">
    <div class="flex items-center justify-center bg-red-50 rounded-full size-16">
      <app-ui-icono name="exclamation-triangle" size="size-8" color="text-red-600"></app-ui-icono>
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-xl font-semibold text-gray-900">Error al cargar los datos</span>
      <span class="text-base font-normal text-gray-500 max-w-sm">
        No se pudieron cargar los detalles del producto. Por favor, intenta de nuevo.
      </span>
    </div>
    <app-ui-boton variante="cerrar" texto="Reiniciar" (alClickear)=" cargarProducto()">

    </app-ui-boton>
  </div>
  }
  @if (producto()) {
  <!-- Header -->
  <app-header-modal titulo="{{ producto()!.codigoProducto }}" descripcion="Detalles del producto"
    (cerrarModal)="onCerrar()"></app-header-modal>
  <!-- Main -->
  <div class="h-full w-full overflow-y-auto flex flex-col gap-5 mb-4">
    <!-- Datos -->
    <section class="flex flex-col gap-3 border-b border-zinc-100 pb-4">
      <span class="text-sm font-medium tracking-wide text-slate-800 ml-4">Información general</span>

      <!-- Nombre del producto -->
      <div class="grid grid-cols-2 items-start px-4">
        <p class="col-span-1 text-base text-slate-500 font-medium tracking-wider">
          Nombre producto
        </p>
        <p class="col-span-1 text-base text-slate-800 font-medium tracking-wider">
          {{ producto()!.nombreProducto }}
        </p>
      </div>

      <!-- Estado -->
      <div class="grid grid-cols-4 items-start px-4">
        <p class="col-span-2 text-base text-slate-500 font-medium tracking-wider">
          Estado
        </p>
        @if (producto()!.status === 1) {
        <div class="col-span-1 flex justify-center items-center bg-green-100 rounded-xs px-2 py-1 w-auto h-auto">
          <app-ui-tipografia variante="p-sm" texto="Activo" color="text-green-800"></app-ui-tipografia>
        </div>
        } @else {
        <div class="col-span-1 flex justify-center items-center bg-red-100 rounded-xs px-2 py-1 w-auto h-auto">
          <app-ui-tipografia variante="p-sm" texto="Desactivado" color="text-red-800"></app-ui-tipografia>
        </div>
        }
      </div>

      <!-- Código -->
      <div class="grid grid-cols-2 items-start px-4">
        <p class="col-span-1 text-base text-slate-500 font-medium tracking-wider">
          Código
        </p>
        <p class="col-span-1 text-base text-slate-800 font-medium tracking-wider">
          {{ producto()!.codigoProducto }}
        </p>
      </div>

      <!-- Descripción -->
      @if (producto()!.descripcion) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="col-span-1 text-base text-slate-500 font-medium tracking-wider">
          Descripción
        </p>
        <p class="col-span-1 text-base text-slate-800 font-medium tracking-wider">
          {{ producto()!.descripcion }}
        </p>
      </div>
      }

      <!-- Costo estándar -->
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Costo estándar
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.costoEstandar) }}
        </p>
      </div>
    </section>

    <!-- Precios -->
    <section class="flex flex-col gap-3 border-b border-zinc-100 pb-4">
      <span class="text-sm font-medium tracking-wide text-slate-800 ml-4">Precios</span>

      <!-- Precio 1 -->
      @if (producto()!.precio1 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 1
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio1) }}
        </p>
      </div>
      }

      <!-- Precio 2 -->
      @if (producto()!.precio2 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 2
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio2) }}
        </p>
      </div>
      }

      <!-- Precio 3 -->
      @if (producto()!.precio3 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 3
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio3) }}
        </p>
      </div>
      }

      <!-- Precio 4 -->
      @if (producto()!.precio4 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 4
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio4) }}
        </p>
      </div>
      }

      <!-- Precio 5 -->
      @if (producto()!.precio5 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 5
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio5) }}
        </p>
      </div>
      }

      <!-- Precio 6 -->
      @if (producto()!.precio6 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 6
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio6) }}
        </p>
      </div>
      }

      <!-- Precio 7 -->
      @if (producto()!.precio7 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 7
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio7) }}
        </p>
      </div>
      }

      <!-- Precio 8 -->
      @if (producto()!.precio8 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 8
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio8) }}
        </p>
      </div>
      }

      <!-- Precio 9 -->
      @if (producto()!.precio9 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 9
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio9) }}
        </p>
      </div>
      }

      <!-- Precio 10 -->
      @if (producto()!.precio10 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Lista 10
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.precio10) }}
        </p>
      </div>
      }
    </section>

    <!-- Costos e Impuestos -->
    <section class="flex flex-col gap-3 border-b border-zinc-100 pb-4">
      <span class="text-sm font-medium tracking-wide text-slate-800 ml-4">Costos e Impuestos</span>

      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Costo Estándar
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ formatCurrency(producto()!.costoEstandar) }}
        </p>
      </div>

      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Margen Utilidad
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ producto()!.margenUtilidad }}%
        </p>
      </div>

      @if (producto()!.impuesto1 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Impuesto 1
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ producto()!.impuesto1 }}%
        </p>
      </div>
      }

      @if (producto()!.impuesto2 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Impuesto 2
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ producto()!.impuesto2 }}%
        </p>
      </div>
      }

      @if (producto()!.impuesto3 > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Tercer impuesto
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ producto()!.impuesto3 }}%
        </p>
      </div>
      }
    </section>

    <!-- Información Adicional -->
    <section class="flex flex-col gap-3 border-b border-zinc-100 pb-4">
      <span class="text-sm font-medium tracking-wide text-slate-800 ml-4">Información Adicional</span>

      <!-- Control Existencia -->
      <div class="grid grid-cols-4 items-start px-4">
        <p class="col-span-2 text-base text-slate-500 font-medium tracking-wider">
          Control Existencia
        </p>
        @if (producto()!.controlExistencia == 0) {
        <div class="col-span-1 flex justify-center items-center bg-gray-100 rounded-xs px-2 py-1 w-auto h-auto">
          <app-ui-tipografia variante="p-sm" texto="Sin control" color="text-gray-800"></app-ui-tipografia>
        </div>
        }
        @if (producto()!.controlExistencia == 1) {
        <div class="col-span-1 flex justify-center items-center bg-blue-100 rounded-xs px-2 py-1 w-auto h-auto">
          <app-ui-tipografia variante="p-sm" texto="Controlado" color="text-blue-800"></app-ui-tipografia>
        </div>
        }
      </div>

      <!-- Tipo de producto -->
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Tipo de producto
        </p>
        @if (producto()!.tipoProducto == 1) {
        <p class="text-base text-slate-800 font-medium tracking-wider">
          Producto
        </p>
        }
        @if (producto()!.tipoProducto == 2) {
        <p class="text-base text-slate-800 font-medium tracking-wider">
          Paquete
        </p>
        }
        @if (producto()!.tipoProducto == 3) {
        <p class="text-base text-slate-800 font-medium tracking-wider">
          Servicio
        </p>
        }
      </div>

      <!-- Peso -->
      @if (producto()!.peso > 0) {
      <div class="grid grid-cols-2 items-start px-4">
        <p class="text-base text-slate-500 font-medium tracking-wider">
          Peso
        </p>
        <p class="text-base text-slate-800 font-medium tracking-wider">
          {{ producto()!.peso }} kg
        </p>
      </div>
      }

      <!-- Clave SAT -->
      <div class="grid grid-cols-2 items-start px-4">
        <p class="col-span-1 text-base text-slate-500 font-medium tracking-wider">
          Clave SAT
        </p>
        @if (producto()!.claveSat) {
        <p class="col-span-1 text-base text-slate-800 font-medium tracking-wider font-mono">
          {{ producto()!.claveSat }}
        </p>
        } @else {
        <p class="col-span-1 text-base text-slate-800 font-medium tracking-wider">
          No registrado
        </p>
        }
      </div>
    </section>
  </div>
  }
</div>
}