USE [cabs_pruebas]
GO
/****** Object:  Table [dbo].[auth_usuarios]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[creado_en] [datetime2](0) NOT NULL,
	[actualizado_en] [datetime2](0) NULL,
	[correo] [varchar](150) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [bigint] NOT NULL,
	[rol] [varchar](30) NOT NULL,
	[activo] [bit] NOT NULL,
	[transmision_habilitada] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalog_clientes]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalog_clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[legacy_client_id] [int] NULL,
	[nombre_comercial] [varchar](200) NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[rfc] [varchar](13) NULL,
	[estado_fiscal] [varchar](50) NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](150) NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[direccion_json] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[legacy_client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[catalog_productos_servicio_ref]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[catalog_productos_servicio_ref](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[unidad] [varchar](20) NOT NULL,
	[precio_lista] [decimal](12, 2) NOT NULL,
	[legacy_product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluacion_detalles]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluacion_detalles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[evaluacion_id] [int] NOT NULL,
	[fase] [varchar](10) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[sugerencias] [nvarchar](max) NULL,
	[score_fase] [int] NULL,
	[evidencia_nota] [nvarchar](max) NULL,
	[creado_en] [datetime2](0) NOT NULL,
	[Lugar] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_eval_fase] UNIQUE NONCLUSTERED 
(
	[evaluacion_id] ASC,
	[fase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluacion_fotos]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluacion_fotos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[detalle_id] [int] NOT NULL,
	[documento_id] [int] NOT NULL,
	[tipo] [varchar](20) NULL,
	[descripcion] [nvarchar](500) NULL,
	[creado_en] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evaluaciones]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evaluaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orden_id] [int] NOT NULL,
	[ejecucion_id] [int] NULL,
	[cliente_id] [int] NULL,
	[evaluador_id] [int] NOT NULL,
	[objetivo] [varchar](200) NULL,
	[comentarios_generales] [nvarchar](max) NULL,
	[score_calidad_total] [int] NULL,
	[requiere_seguimiento] [bit] NOT NULL,
	[seguimiento_notas] [nvarchar](max) NULL,
	[creado_en] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[files_documentos]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[files_documentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[creado_por_usuario_id] [int] NOT NULL,
	[creado_en] [datetime2](0) NOT NULL,
	[entidad_tipo] [varchar](50) NOT NULL,
	[entidad_id] [int] NOT NULL,
	[metadatos_json] [nvarchar](max) NULL,
	[tamano_bytes] [bigint] NULL,
	[mimetype] [varchar](100) NULL,
	[ruta_almacenamiento] [nvarchar](500) NOT NULL,
	[nombre_archivo] [nvarchar](255) NOT NULL,
	[checksum_sha256] [varchar](64) NOT NULL,
	[nombre_original] [nvarchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[actualizado_en] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Documento_Entidad] UNIQUE NONCLUSTERED 
(
	[entidad_tipo] ASC,
	[entidad_id] ASC,
	[nombre_archivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[finance_gastos_viaticos]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finance_gastos_viaticos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orden_id] [int] NOT NULL,
	[tiene_factura] [bit] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[proveedor_nombre] [varchar](200) NULL,
	[fecha] [date] NOT NULL,
	[km_recorridos] [int] NULL,
	[gastos] [varchar](200) NOT NULL,
	[monto_total] [decimal](12, 2) NOT NULL,
	[lugar_destino] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fleet_vehiculos]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fleet_vehiculos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_vehiculo] [varchar](50) NULL,
	[transmision] [varchar](20) NULL,
	[es_de_empresa] [bit] NOT NULL,
	[placas] [varchar](20) NULL,
	[activo] [bit] NOT NULL,
	[observaciones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[placas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[legacy_clientes_ref]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[legacy_clientes_ref](
	[legacy_client_id] [int] NOT NULL,
	[last_sync_timestamp] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[legacy_client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[legacy_intakes_ref]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[legacy_intakes_ref](
	[legacy_intake_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[legacy_intake_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[legacy_productos_ref]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[legacy_productos_ref](
	[legacy_product_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[legacy_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ops_ejecuciones_orden]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ops_ejecuciones_orden](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orden_id] [int] NOT NULL,
	[tipo_ejecucion] [varchar](20) NOT NULL,
	[tecnico_id] [int] NOT NULL,
	[hr_inicio] [datetime2](0) NULL,
	[hr_fin] [datetime2](0) NULL,
	[comentarios] [nvarchar](max) NULL,
	[vehiculo_id] [int] NULL,
	[km_inicial] [int] NULL,
	[km_final] [int] NULL,
	[herramientas] [varchar](100) NULL,
	[codigo_sesion] [varchar](100) NULL,
	[contrasena_sesion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ops_ordenes_trabajo]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ops_ordenes_trabajo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NULL,
	[creado_por_user_id] [int] NOT NULL,
	[asignada_a_user_id] [int] NULL,
	[notas] [nvarchar](max) NULL,
	[cita_programada_inicio] [datetime2](0) NULL,
	[cita_programada_fin] [datetime2](0) NULL,
	[modalidad] [varchar](50) NULL,
	[tipo_orden] [varchar](50) NULL,
	[prioridad] [int] NULL,
	[estado] [varchar](20) NOT NULL,
	[ubicacion_text] [nvarchar](max) NULL,
	[requiere_factura] [bit] NOT NULL,
	[estado_facturado] [varchar](50) NULL,
	[factura_folio] [varchar](50) NULL,
	[creado_en] [datetime2](0) NOT NULL,
	[actualizado_en] [datetime2](0) NULL,
	[costo_real] [decimal](12, 2) NULL,
	[costo_estimado] [decimal](12, 2) NULL,
	[nuevo_cliente] [bit] NULL,
	[nombre_cliente] [varchar](120) NULL,
	[cliente_telefono] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reparacion_componentes]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reparacion_componentes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reparacion_id] [int] NOT NULL,
	[componente] [varchar](160) NOT NULL,
	[cantidad] [int] NOT NULL,
	[proveedor] [varchar](160) NULL,
	[garantia_meses] [int] NULL,
	[costo_unitario_compra] [decimal](12, 2) NULL,
	[costo_unitario_publico] [decimal](12, 2) NULL,
	[subtotal_compra]  AS (isnull([cantidad],(0))*isnull([costo_unitario_compra],(0))) PERSISTED,
	[subtotal_publico]  AS (isnull([cantidad],(0))*isnull([costo_unitario_publico],(0))) PERSISTED,
	[notas] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reparacion_fotos]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reparacion_fotos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reparacion_id] [int] NOT NULL,
	[documento_id] [int] NOT NULL,
	[etapa] [varchar](20) NULL,
	[descripcion] [nvarchar](500) NULL,
	[creado_en] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reparaciones]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reparaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orden_id] [int] NOT NULL,
	[tecnico_id] [int] NOT NULL,
	[dispositivo_tipo] [varchar](80) NOT NULL,
	[marca] [varchar](80) NULL,
	[modelo] [varchar](120) NULL,
	[accesorios_recibidos] [nvarchar](500) NULL,
	[descripcion_falla] [nvarchar](max) NOT NULL,
	[diagnostico] [nvarchar](max) NULL,
	[solucion_aplicada] [nvarchar](max) NULL,
	[resultado] [varchar](20) NOT NULL,
	[causa_irreparable] [nvarchar](max) NULL,
	[respaldo_datos_autorizado] [bit] NOT NULL,
	[costo_mano_obra] [decimal](12, 2) NULL,
	[costo_refacciones_compra] [decimal](12, 2) NULL,
	[costo_refacciones_publico] [decimal](12, 2) NULL,
	[costo_total_compra]  AS (isnull([costo_mano_obra],(0))+isnull([costo_refacciones_compra],(0))) PERSISTED,
	[costo_total_publico]  AS (isnull([costo_mano_obra],(0))+isnull([costo_refacciones_publico],(0))) PERSISTED,
	[margen_estimado]  AS (isnull([costo_refacciones_publico],(0))-isnull([costo_refacciones_compra],(0))) PERSISTED,
	[garantia_dias] [int] NULL,
	[fecha_llegada] [datetime2](0) NOT NULL,
	[empezado_en] [datetime2](0) NULL,
	[entregado_en] [datetime2](0) NULL,
	[tipo_entrega] [varchar](20) NOT NULL,
	[ubicacion_almacenamiento] [nvarchar](200) NULL,
	[notas] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_cotizaciones]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_cotizaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orden_id] [int] NULL,
	[intake_legacy_id] [int] NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[impuestos_total] [decimal](12, 2) NOT NULL,
	[total]  AS ([subtotal]+[impuestos_total]) PERSISTED,
	[estado] [varchar](20) NOT NULL,
	[observaciones] [varchar](500) NULL,
	[actualizado_en] [datetime2](0) NULL,
	[creado_en] [datetime2](0) NOT NULL,
	[validez_dias] [int] NULL,
	[horas_capacitacion] [int] NULL,
	[paquetes_capacitacion] [int] NULL,
	[costo_capacitacion] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auth_usuarios] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[auth_usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[catalog_clientes] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[catalog_clientes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[evaluacion_detalles] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[evaluacion_fotos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[evaluaciones] ADD  DEFAULT ((0)) FOR [requiere_seguimiento]
GO
ALTER TABLE [dbo].[evaluaciones] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[files_documentos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[files_documentos] ADD  DEFAULT ('') FOR [checksum_sha256]
GO
ALTER TABLE [dbo].[files_documentos] ADD  DEFAULT ('') FOR [nombre_original]
GO
ALTER TABLE [dbo].[files_documentos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[finance_gastos_viaticos] ADD  DEFAULT ((0)) FOR [tiene_factura]
GO
ALTER TABLE [dbo].[fleet_vehiculos] ADD  DEFAULT ((1)) FOR [es_de_empresa]
GO
ALTER TABLE [dbo].[fleet_vehiculos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo] ADD  DEFAULT ((0)) FOR [requiere_factura]
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[reparacion_componentes] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[reparacion_fotos] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[reparaciones] ADD  DEFAULT ((0)) FOR [respaldo_datos_autorizado]
GO
ALTER TABLE [dbo].[reparaciones] ADD  DEFAULT (getdate()) FOR [fecha_llegada]
GO
ALTER TABLE [dbo].[sales_cotizaciones] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[sales_cotizaciones] ADD  DEFAULT ((0)) FOR [impuestos_total]
GO
ALTER TABLE [dbo].[sales_cotizaciones] ADD  DEFAULT ('NUEVA') FOR [estado]
GO
ALTER TABLE [dbo].[sales_cotizaciones] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[catalog_clientes]  WITH CHECK ADD  CONSTRAINT [FK_clientes_legacy_ref] FOREIGN KEY([legacy_client_id])
REFERENCES [dbo].[legacy_clientes_ref] ([legacy_client_id])
GO
ALTER TABLE [dbo].[catalog_clientes] CHECK CONSTRAINT [FK_clientes_legacy_ref]
GO
ALTER TABLE [dbo].[catalog_productos_servicio_ref]  WITH CHECK ADD  CONSTRAINT [FK_productos_servicio_ref_legacy] FOREIGN KEY([legacy_product_id])
REFERENCES [dbo].[legacy_productos_ref] ([legacy_product_id])
GO
ALTER TABLE [dbo].[catalog_productos_servicio_ref] CHECK CONSTRAINT [FK_productos_servicio_ref_legacy]
GO
ALTER TABLE [dbo].[evaluacion_detalles]  WITH CHECK ADD  CONSTRAINT [FK_eval_detalle_eval] FOREIGN KEY([evaluacion_id])
REFERENCES [dbo].[evaluaciones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evaluacion_detalles] CHECK CONSTRAINT [FK_eval_detalle_eval]
GO
ALTER TABLE [dbo].[evaluacion_fotos]  WITH CHECK ADD  CONSTRAINT [FK_eval_fotos_detalle] FOREIGN KEY([detalle_id])
REFERENCES [dbo].[evaluacion_detalles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evaluacion_fotos] CHECK CONSTRAINT [FK_eval_fotos_detalle]
GO
ALTER TABLE [dbo].[evaluacion_fotos]  WITH CHECK ADD  CONSTRAINT [FK_eval_fotos_documento] FOREIGN KEY([documento_id])
REFERENCES [dbo].[files_documentos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evaluacion_fotos] CHECK CONSTRAINT [FK_eval_fotos_documento]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_eval_ejecucion] FOREIGN KEY([ejecucion_id])
REFERENCES [dbo].[ops_ejecuciones_orden] ([id])
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [FK_eval_ejecucion]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_eval_orden] FOREIGN KEY([orden_id])
REFERENCES [dbo].[ops_ordenes_trabajo] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [FK_eval_orden]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [FK_eval_usuario] FOREIGN KEY([evaluador_id])
REFERENCES [dbo].[auth_usuarios] ([id])
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [FK_eval_usuario]
GO
ALTER TABLE [dbo].[files_documentos]  WITH CHECK ADD  CONSTRAINT [FK_documentos_usuario] FOREIGN KEY([creado_por_usuario_id])
REFERENCES [dbo].[auth_usuarios] ([id])
GO
ALTER TABLE [dbo].[files_documentos] CHECK CONSTRAINT [FK_documentos_usuario]
GO
ALTER TABLE [dbo].[finance_gastos_viaticos]  WITH CHECK ADD  CONSTRAINT [FK_gastos_viaticos_orden] FOREIGN KEY([orden_id])
REFERENCES [dbo].[ops_ordenes_trabajo] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[finance_gastos_viaticos] CHECK CONSTRAINT [FK_gastos_viaticos_orden]
GO
ALTER TABLE [dbo].[ops_ejecuciones_orden]  WITH CHECK ADD  CONSTRAINT [FK_ejecuciones_orden_orden] FOREIGN KEY([orden_id])
REFERENCES [dbo].[ops_ordenes_trabajo] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ops_ejecuciones_orden] CHECK CONSTRAINT [FK_ejecuciones_orden_orden]
GO
ALTER TABLE [dbo].[ops_ejecuciones_orden]  WITH CHECK ADD  CONSTRAINT [FK_ejecuciones_orden_tecnico] FOREIGN KEY([tecnico_id])
REFERENCES [dbo].[auth_usuarios] ([id])
GO
ALTER TABLE [dbo].[ops_ejecuciones_orden] CHECK CONSTRAINT [FK_ejecuciones_orden_tecnico]
GO
ALTER TABLE [dbo].[ops_ejecuciones_orden]  WITH CHECK ADD  CONSTRAINT [FK_ejecuciones_orden_vehiculo] FOREIGN KEY([vehiculo_id])
REFERENCES [dbo].[fleet_vehiculos] ([id])
GO
ALTER TABLE [dbo].[ops_ejecuciones_orden] CHECK CONSTRAINT [FK_ejecuciones_orden_vehiculo]
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_trabajo_asignada_a] FOREIGN KEY([asignada_a_user_id])
REFERENCES [dbo].[auth_usuarios] ([id])
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo] CHECK CONSTRAINT [FK_ordenes_trabajo_asignada_a]
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_trabajo_cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[catalog_clientes] ([id])
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo] CHECK CONSTRAINT [FK_ordenes_trabajo_cliente]
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo]  WITH CHECK ADD  CONSTRAINT [FK_ordenes_trabajo_creado_por] FOREIGN KEY([creado_por_user_id])
REFERENCES [dbo].[auth_usuarios] ([id])
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo] CHECK CONSTRAINT [FK_ordenes_trabajo_creado_por]
GO
ALTER TABLE [dbo].[reparacion_componentes]  WITH CHECK ADD  CONSTRAINT [FK_rep_comp_rep] FOREIGN KEY([reparacion_id])
REFERENCES [dbo].[reparaciones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reparacion_componentes] CHECK CONSTRAINT [FK_rep_comp_rep]
GO
ALTER TABLE [dbo].[reparacion_fotos]  WITH CHECK ADD  CONSTRAINT [FK_rep_fotos_documento] FOREIGN KEY([documento_id])
REFERENCES [dbo].[files_documentos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reparacion_fotos] CHECK CONSTRAINT [FK_rep_fotos_documento]
GO
ALTER TABLE [dbo].[reparacion_fotos]  WITH CHECK ADD  CONSTRAINT [FK_rep_fotos_rep] FOREIGN KEY([reparacion_id])
REFERENCES [dbo].[reparaciones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reparacion_fotos] CHECK CONSTRAINT [FK_rep_fotos_rep]
GO
ALTER TABLE [dbo].[reparaciones]  WITH CHECK ADD  CONSTRAINT [FK_rep_orden] FOREIGN KEY([orden_id])
REFERENCES [dbo].[ops_ordenes_trabajo] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reparaciones] CHECK CONSTRAINT [FK_rep_orden]
GO
ALTER TABLE [dbo].[reparaciones]  WITH CHECK ADD  CONSTRAINT [FK_rep_tecnico] FOREIGN KEY([tecnico_id])
REFERENCES [dbo].[auth_usuarios] ([id])
GO
ALTER TABLE [dbo].[reparaciones] CHECK CONSTRAINT [FK_rep_tecnico]
GO
ALTER TABLE [dbo].[sales_cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_cotizaciones_legacy_intake] FOREIGN KEY([intake_legacy_id])
REFERENCES [dbo].[legacy_intakes_ref] ([legacy_intake_id])
GO
ALTER TABLE [dbo].[sales_cotizaciones] CHECK CONSTRAINT [FK_cotizaciones_legacy_intake]
GO
ALTER TABLE [dbo].[sales_cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_cotizaciones_orden] FOREIGN KEY([orden_id])
REFERENCES [dbo].[ops_ordenes_trabajo] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sales_cotizaciones] CHECK CONSTRAINT [FK_cotizaciones_orden]
GO
ALTER TABLE [dbo].[auth_usuarios]  WITH CHECK ADD  CONSTRAINT [CK_usuarios_rol] CHECK  (([rol]='ADMINISTRACION' OR [rol]='SOPORTE' OR [rol]='RECEPCION'))
GO
ALTER TABLE [dbo].[auth_usuarios] CHECK CONSTRAINT [CK_usuarios_rol]
GO
ALTER TABLE [dbo].[catalog_clientes]  WITH CHECK ADD  CONSTRAINT [CK_cliente_direccion_json] CHECK  (([direccion_json] IS NULL OR isjson([direccion_json])=(1)))
GO
ALTER TABLE [dbo].[catalog_clientes] CHECK CONSTRAINT [CK_cliente_direccion_json]
GO
ALTER TABLE [dbo].[evaluacion_detalles]  WITH CHECK ADD  CONSTRAINT [CK_eval_fase] CHECK  (([fase]='DESPUES' OR [fase]='ANTES'))
GO
ALTER TABLE [dbo].[evaluacion_detalles] CHECK CONSTRAINT [CK_eval_fase]
GO
ALTER TABLE [dbo].[evaluacion_detalles]  WITH CHECK ADD  CONSTRAINT [CK_eval_score_fase] CHECK  (([score_fase]>=(0) AND [score_fase]<=(100)))
GO
ALTER TABLE [dbo].[evaluacion_detalles] CHECK CONSTRAINT [CK_eval_score_fase]
GO
ALTER TABLE [dbo].[evaluaciones]  WITH CHECK ADD  CONSTRAINT [CK_eval_score_total] CHECK  (([score_calidad_total]>=(0) AND [score_calidad_total]<=(100)))
GO
ALTER TABLE [dbo].[evaluaciones] CHECK CONSTRAINT [CK_eval_score_total]
GO
ALTER TABLE [dbo].[files_documentos]  WITH CHECK ADD  CONSTRAINT [CK_doc_metadatos_json] CHECK  (([metadatos_json] IS NULL OR isjson([metadatos_json])=(1)))
GO
ALTER TABLE [dbo].[files_documentos] CHECK CONSTRAINT [CK_doc_metadatos_json]
GO
ALTER TABLE [dbo].[finance_gastos_viaticos]  WITH CHECK ADD  CONSTRAINT [CK_viatico_km] CHECK  (([km_recorridos] IS NULL OR [km_recorridos]>=(0)))
GO
ALTER TABLE [dbo].[finance_gastos_viaticos] CHECK CONSTRAINT [CK_viatico_km]
GO
ALTER TABLE [dbo].[ops_ejecuciones_orden]  WITH CHECK ADD  CONSTRAINT [CK_ejecucion_tipo] CHECK  (([tipo_ejecucion]='CAMPO' OR [tipo_ejecucion]='REMOTO'))
GO
ALTER TABLE [dbo].[ops_ejecuciones_orden] CHECK CONSTRAINT [CK_ejecucion_tipo]
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo]  WITH CHECK ADD  CONSTRAINT [CK_orden_estado] CHECK  (([estado]='CERRADA' OR [estado]='FACTURADA' OR [estado]='POR_FACTURAR' OR [estado]='COMPLETADA' OR [estado]='EN_CURSO' OR [estado]='ASIGNADA' OR [estado]='CAPTURADA'))
GO
ALTER TABLE [dbo].[ops_ordenes_trabajo] CHECK CONSTRAINT [CK_orden_estado]
GO
ALTER TABLE [dbo].[reparacion_componentes]  WITH CHECK ADD  CONSTRAINT [CK_rep_comp_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[reparacion_componentes] CHECK CONSTRAINT [CK_rep_comp_cantidad]
GO
ALTER TABLE [dbo].[reparacion_componentes]  WITH CHECK ADD  CONSTRAINT [CK_rep_comp_costo_compra] CHECK  (([costo_unitario_compra] IS NULL OR [costo_unitario_compra]>=(0)))
GO
ALTER TABLE [dbo].[reparacion_componentes] CHECK CONSTRAINT [CK_rep_comp_costo_compra]
GO
ALTER TABLE [dbo].[reparacion_componentes]  WITH CHECK ADD  CONSTRAINT [CK_rep_comp_costo_publico] CHECK  (([costo_unitario_publico] IS NULL OR [costo_unitario_publico]>=(0)))
GO
ALTER TABLE [dbo].[reparacion_componentes] CHECK CONSTRAINT [CK_rep_comp_costo_publico]
GO
ALTER TABLE [dbo].[reparacion_componentes]  WITH CHECK ADD  CONSTRAINT [CK_rep_comp_garantia] CHECK  (([garantia_meses] IS NULL OR [garantia_meses]>=(0)))
GO
ALTER TABLE [dbo].[reparacion_componentes] CHECK CONSTRAINT [CK_rep_comp_garantia]
GO
ALTER TABLE [dbo].[reparaciones]  WITH CHECK ADD  CONSTRAINT [CK_rep_garantia] CHECK  (([garantia_dias] IS NULL OR [garantia_dias]>=(0)))
GO
ALTER TABLE [dbo].[reparaciones] CHECK CONSTRAINT [CK_rep_garantia]
GO
ALTER TABLE [dbo].[reparaciones]  WITH CHECK ADD  CONSTRAINT [CK_rep_mano_obra] CHECK  (([costo_mano_obra] IS NULL OR [costo_mano_obra]>=(0)))
GO
ALTER TABLE [dbo].[reparaciones] CHECK CONSTRAINT [CK_rep_mano_obra]
GO
ALTER TABLE [dbo].[reparaciones]  WITH CHECK ADD  CONSTRAINT [CK_rep_refacciones_compra] CHECK  (([costo_refacciones_compra] IS NULL OR [costo_refacciones_compra]>=(0)))
GO
ALTER TABLE [dbo].[reparaciones] CHECK CONSTRAINT [CK_rep_refacciones_compra]
GO
ALTER TABLE [dbo].[reparaciones]  WITH CHECK ADD  CONSTRAINT [CK_rep_refacciones_publico] CHECK  (([costo_refacciones_publico] IS NULL OR [costo_refacciones_publico]>=(0)))
GO
ALTER TABLE [dbo].[reparaciones] CHECK CONSTRAINT [CK_rep_refacciones_publico]
GO
ALTER TABLE [dbo].[reparaciones]  WITH CHECK ADD  CONSTRAINT [CK_rep_tipo_entrega] CHECK  (([tipo_entrega]='RECOGE_CLIENTE' OR [tipo_entrega]='DOMICILIO'))
GO
ALTER TABLE [dbo].[reparaciones] CHECK CONSTRAINT [CK_rep_tipo_entrega]
GO
ALTER TABLE [dbo].[reparaciones]  WITH CHECK ADD  CONSTRAINT [CK_reparacion_resultado] CHECK  (([resultado]='DEVUELTO_SIN_REPARAR' OR [resultado]='COTIZAR' OR [resultado]='IRREPARABLE' OR [resultado]='REPARADO'))
GO
ALTER TABLE [dbo].[reparaciones] CHECK CONSTRAINT [CK_reparacion_resultado]
GO
ALTER TABLE [dbo].[sales_cotizaciones]  WITH CHECK ADD  CONSTRAINT [CK_cotizaciones_costo_capacitacion] CHECK  (([costo_capacitacion] IS NULL OR [costo_capacitacion]>=(0)))
GO
ALTER TABLE [dbo].[sales_cotizaciones] CHECK CONSTRAINT [CK_cotizaciones_costo_capacitacion]
GO
ALTER TABLE [dbo].[sales_cotizaciones]  WITH CHECK ADD  CONSTRAINT [CK_cotizaciones_horas_capacitacion] CHECK  (([horas_capacitacion] IS NULL OR [horas_capacitacion]>=(0)))
GO
ALTER TABLE [dbo].[sales_cotizaciones] CHECK CONSTRAINT [CK_cotizaciones_horas_capacitacion]
GO
ALTER TABLE [dbo].[sales_cotizaciones]  WITH CHECK ADD  CONSTRAINT [CK_cotizaciones_paquetes_capacitacion] CHECK  (([paquetes_capacitacion] IS NULL OR [paquetes_capacitacion]>=(0)))
GO
ALTER TABLE [dbo].[sales_cotizaciones] CHECK CONSTRAINT [CK_cotizaciones_paquetes_capacitacion]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetClientesCompletos_Paginado]    Script Date: 10/18/2025 10:04:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetClientesCompletos_Paginado]
    @NombreBusqueda NVARCHAR(200) = NULL,
    @RFCBusqueda NVARCHAR(13) = NULL,
    @Pagina INT = 1,
    @ResultadosPorPagina INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    -- Preparamos los filtros para la búsqueda LIKE
    DECLARE @NombreFiltro NVARCHAR(202) = '%' + ISNULL(@NombreBusqueda, '') + '%';
    DECLARE @RFCFiltro NVARCHAR(15) = '%' + ISNULL(@RFCBusqueda, '') + '%';

    -- Consulta principal con paginación y filtros dinámicos
    SELECT
        ClienteId,
        NombreComercial,
        RFC,
        Activo,
        LegacyClientId,
        Calle,
        NumeroExterior,
        Colonia,
        CodigoPostal,
        Ciudad,
        Estado,
        Pais,
        TelefonoPrincipal,
        EmailPrincipal
    FROM
        dbo.VwClientesCompletos
    WHERE
        -- Si @NombreBusqueda es nulo, esta condición es verdadera y no filtra por nombre.
        (@NombreBusqueda IS NULL OR NombreComercial LIKE @NombreFiltro)
        AND
        -- Si @RFCBusqueda es nulo, esta condición es verdadera y no filtra por RFC.
        (@RFCBusqueda IS NULL OR RFC LIKE @RFCFiltro)
    ORDER BY
        NombreComercial ASC
    OFFSET (@Pagina - 1) * @ResultadosPorPagina ROWS
    FETCH NEXT @ResultadosPorPagina ROWS ONLY;
END
GO
